<div class="container mt-3" style= "height: 90vh">
    <div class="wrap">
      <ul id="tab-menu">
        <li><a href="#tab1" class="active">都道府県検索</a></li>
        <li><a href="#tab2" class="">サイト名検索</a></li>
        <li><a href="#tab3" class="">カテゴリー検索</a></li>
        <li><a href="#tab4" class="">Share＊CAMP</a></li>
      </ul>

      <div id="tab-contents">
        <div id="tab1" class="tab">
          <p>TAB1のテキストが入ります。</p>

        </div>

        <div id="tab2" class="tab">
          <p>検索したいサイト名を入力してください。
            <%= render 'public/searches/search' %>
          </p>
        </div>

        <div id="tab3" class="tab">
          <p>フィールドタイプから検索。</p>
          <%= render 'public/searches/fieldsearch' %>
          <!--<!%= form_tag(searches_fieldsearch_path(keyword: @site.field_type), method: "get") do %>-->
          <!--  <!%= select_tag(:field_type, options_for_select([["forest","forest"],["grass","grass"],["riverside","riverside"],["seaside","seaside"],["lakeside","lakeside"]])) %>-->
          <!--  <!%= submit_tag "絞り込み" %>-->
          <!--<!% end %>-->

        </div>

        <div id="tab4" class="tab">
          <p>「みんなにオススメしたい」と思えるキャンプ場を、<br>
          ぜひ、シェアしてください！！
          </p>
        </div>
      </div>
    </div>
</div>

<script>
    $('#tab-contents .tab[id != "tab1"]').hide();

    $('#tab-menu a').on('click', function(event) {
      $("#tab-contents .tab").hide();
      $("#tab-menu .active").removeClass("active");
      $(this).addClass("active");
      $($(this).attr("href")).show();
      event.preventDefault();
    });
</script>

<script>
  var d = new jpmap.japanMap(document.getElementById("my-map"), {
    showsPrefectureName: true, //都道府県名を表示させる
    width: 1000,　//横幅のサイズ
    movesIslands: true, //沖縄地方が地図の左上の分離されたスペースに移動する
    lang: 'ja', //表示させている都道府県名を日本語にする
    onSelect: function(data){
      alert(data.name);
    }
  });
</script>