<% if @model == 'site' %>
  <h3>Sites search for "<%= @content %>"</h3>
  <%= render 'public/sites/index', site: @records %>
<% elsif @model == 'end_user' %>
  <h3>Sites search for "<%= @content %>"</h3>
  <%= render 'sites/index', sites: @records %>
<% end %>