<div class='container mt-3'>
  <div class='row'>
    <div class="my-5 mx-auto">
      <h1>Welcome to <i class="fa-solid fa-campground"></i><strong>ShareCAMP</strong>!</h1>
    </div>

    <div class='py-5 px-4 mb-5 mx-auto' style="background-color: #f5f5f5;">
      <h3>”Share CAMP”は、キャンプ場情報を投稿したり、<br>
          行ってみたい場所を検索できるサイトです。<br>
          <br>
          「いいね！」を押すと、マイページに追加され、<br>
          お気に入り一覧として、いつでも閲覧できます。<br>
          <br>
          マナーを守って、素敵なアウトドアライフを楽しみましょう！<br>
      </h3>
    </div>
  </div>
</div>