@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

#box {
  height: 400px;
}
.image1 {
  background-image: url("../images/camp1.jpg");
}
.image2 {
  background-image: url("../images/camp2.jpg");
}
.image3 {
  background-image: url("../images/camp3.jpg");
}
.image4 {
  background-image: url("../images/camp4.jpg");
}
.image5 {
  background-image: url("../images/camp5.jpg");
}